@import '../src/assets/fonts/font-face.scss';
body {
  app-welcome-page{
    background: rgb(26, 21, 32);
  }
  background-repeat: no-repeat;
  background-position: 20px 50px;
  background-image: url("../src/assets/ellipse.svg"), url("../src/assets/ellipse1.svg");
  *{
    font-family: Lato;
  }
 
  .brand__logo {
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}
