@import '../src/assets/fonts/font-face.scss';
body {
  background: rgb(26, 21, 32);
  *{
    font-family: Rubik;
  }
 
  .brand__logo {
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}
