<section class="add-project">
  <nav class="add-project__nav">
    <div class="nav-logo">
      <p class="nav-logo__parag">Commands</p>
      <p class="nav-logo__desc">from idea to goal</p>
    </div>
    <button class="nav__close-btn" (click)="onCloseClick.emit()"><img class="close-btn__img" src="../../../assets/close.svg" width="15.52px" height="15.18px" ></button>
  </nav>
  <main class="add-project__main">
    <h1 class="main__title">Создать проект</h1>
    <form [formGroup]="projectForm" class="main__form">
        <input class="name-project-controll" placeholder="Название проекта" [formControlName]="'name'" >
        <textarea class="descreption-controll" placeholder="Описание" [formControlName]="'descreption'" ></textarea>
        <select class="role-select" [formControlName]="'authorRole'">
          <option [value]="" selected disabled hidden>Выберите свою роль</option>
          <option *ngFor="let role of roles$ | async" [value]="role.id">{{role.rolesName}}</option>
        </select>
        <select class="role-select" [formControlName]="'otherRoles'">
          <option [value]="" selected disabled hidden>Выберите необходимые роли</option>
          <option *ngFor="let role of roles$ | async" [value]="role.id">{{role.rolesName}}</option>
        </select>
        <!-- TODO: скрыто до реализации бэкенда -->
        <!-- <div class="datetime-container">
            <h3 class="datetime-container__title">Сроки проекта</h3>
            <div class="field-date-container">
                <input class="date-controll start" placeholder="Дата начала">
                <input class="date-controll end" placeholder="Дата начала">
            </div>
        </div> -->
    </form>
    <button class="create-btn" (click)="onSaveProjectCick()">создать</button>
  </main>
</section>

