<app-navigation (onAddClick)="addProject()"></app-navigation>
<main class="home_main">
  <section class="main__center-section">
    <div class="main-center__left">
      <div class="section-back profile">
        <div class="left-container-profile">
          <div class="profile_img-container">
            <img
              *ngIf="!!userInfo.userIconUrl"
              [src]="userInfo.userIconUrl"
              class="profile__img"
              width="200px"
              height="200px"
            />
          </div>
          <div class="profile__info-container">
            <h3 class="profile-title">{{ userInfo.userName }}</h3>
            <div class="info-container__desc">
              {{ userInfo.description }}
            </div>
          </div>
        </div>
        <a [routerLink]="" class="profile__edit-btn">Редактировать</a>
      </div>
      <div class="section-back posts">
        <h3 class="posts__title">Публикации</h3>
        <div class="posts-gallery">
          <div class="post-crad" *ngFor="let project of userProjects$ | async">
            <h3 class="post-crad__title">{{ project.projectName }}</h3>
            <div class="post-crad__info">
              <div class="info__roles">
                <p class="roles-title">Роли в проекте:</p>
                <ul class="roles-list">
                  <li
                    *ngFor="let role of projectRoles | async"
                    class="role-item"
                  >
                    {{ role }}
                  </li>
                </ul>
              </div>
              <div class="info__desc">{{ project.projectDescription }}</div>
            </div>
          </div>
        </div>
        <button class="posts__add-btn" (click)="addProject()">
          <img src="../../../assets/add_white.svg" width="29px" height="29px" />
        </button>
      </div>
    </div>

    <div class="section-back early-look">
      <h3 class="early-look__title">недавно смотрели</h3>
      <div class="early-look__posts-container"></div>
    </div>
  </section>

  <!-- TODO: скрыто до реализации функцинала на бекенде -->
  <!-- <section class="section-back footer__section">
    <h3 class="footer__section title">Отзывы</h3>
    <div class="footer__section container"></div>
  </section> -->
</main>
<div *ngIf="addingProject === true" class="modal-overlay">
  <div class="backdrop" (click)="closeModal()"></div>
  <app-add-project-modal
    [userId]="userId"
    (onSaveProject)="saveProject($event)"
    (onCloseClick)="closeModal()"
  />
</div>
