<app-navigation></app-navigation>
<main class="home_main">
    <section class="main__center-section">
        <div class="section-back main__center-section profile">
            <div class="profile_img-container">
                <img [src]="" class="profile__img">
            </div>
            <div class="profile__info-container">
                <h3 class="profile-title">ФАМИЛИЯ ИМЯ</h3>
                <div class="info-container__desc">
                    <p class="desc-parag town ">г. Москва</p>
                    <p class="desc-parag age ">20 лет</p>
                </div>
            </div>
            <a [routerLink]="" class="profile__edit-btn">Редактировать</a>
        </div>
        <div class="section-back main__center-section posts">
            <h3 class="posts__title">Публикации</h3>
            <div class="posts-gallery"></div>
            <button class="posts__add-btn"><img src="../../../assets/add_white.svg"></button>
        </div>
        <div class="section-back main__center-section early-look">
            <h3 class="early-look__title">недавно смотрели</h3>
            <div class="early-look__posts-container"></div>
        </div>
    </section>
    <section class="section-back footer__section">
        <h3 class="footer__section title">Отзывы</h3>
        <div class="footer__section container"></div>
    </section>
</main>