<button class="navigation__btn settings">
  <img src="../../../assets/nav_settings.svg" />
</button>
<div class="middle btn-container">
  <button class="navigation__middle-btn">ПРОЕКТЫ</button>
  <button class="navigation__middle-btn">Публикации</button>
  <button class="navigation__middle-btn">ОТЗЫВЫ</button>
</div>
<div class="footer btn-container">
  <button class="navigation__btn"><img src="../../../assets/nav_search.svg" width="35px" height="35px" /></button>
  <button class="navigation__btn"><img src="../../../assets/nav_add.svg" width="35px" height="35px" /></button>
  <button class="navigation__btn" (click)="goToHomePage()"><img src="../../../assets/nav_home.svg" width="35px" height="35px" /></button>
</div>
