:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .navigation__btn {
    cursor: pointer;
    border: 2px solid rgb(106, 79, 169);
    border-radius: 8.75px;
    background: transparent;
    box-sizing: border-box;
    padding: 7.5px;
    z-index: 1;
    &:hover {
      border: 2px solid rgb(221, 216, 232);
    }
    &:active {
      background: rgb(221, 216, 232);
    }
    img {
      box-sizing: border-box;
      max-width: 35px;
      max-height: 35px;
      z-index: -1000;
    }
  }
  .btn-container {
    display: flex;
    gap: 17px;
    .navigation__middle-btn {
      border: 2px solid rgb(106, 79, 169);
      border-radius: 8.75px;
      background: transparent;
      font-family: Lato;
      box-sizing: border-box;
      color: rgb(106, 79, 169);
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      text-transform: uppercase;
      text-align: center;
      &:hover {
        transform: scale(1.05);
      }
    }
    .navigation__btn {
      border: 2px solid rgb(106, 79, 169);
      border-radius: 8.75px;
      background: transparent;
      box-sizing: border-box;
      padding: 7.5px;
      &:hover {
        transform: scale(1.05);
      }
      img {
        box-sizing: border-box;
        max-width: 35px;
        max-height: 35px;
      }
    }
  }
}
