<app-welcome-page
  *ngIf="
    router.url === '/welcome' ||
    router.url === '/logIn' ||
    router.url === '/signIn'
  "
></app-welcome-page>
<h3 class="brand__logo">created by peremennie</h3>
<div *ngIf="router.url === '/logIn'" class="modal-overlay">
  <div class="backdrop" (click)="closeModal()"></div>
  <app-log-in-modal></app-log-in-modal>
</div>
<div *ngIf="router.url === '/signIn'" class="modal-overlay">
  <div class="backdrop" (click)="closeModal()"></div>
  <app-sign-in-modal></app-sign-in-modal>
</div>

<router-outlet/>