<div *ngIf="router.url === '/logIn'" class="modal-overlay">
  <div class="backdrop" (click)="closeModal()"></div>
  <app-log-in-modal></app-log-in-modal>
</div>
<div *ngIf="router.url === '/signIn'" class="modal-overlay">
  <div class="backdrop" (click)="closeModal()"></div>
  <app-sign-in-modal></app-sign-in-modal>
</div>

<router-outlet />
<h3
  *ngIf="
    router.url === '/welcome' ||
    router.url === '/logIn' ||
    router.url === '/signIn'
  "
  class="brand__logo"
>
  created by peremennie
</h3>