<section class="logIn-modal">
  <div class="logIn-nav">
    <div class="nav-logo">
      <p class="nav-logo__parag">Commands</p>
      <p class="nav-logo__desc">from idea to goal</p>
    </div>
    <div class="nav-buttons">
        <p class="nav-buttons__desc">Нет аккаунта?</p>
        <button class="signIn-btn">регистрация</button>
    </div>
  </div>
  <h1 class="logIn-title">ВХОД</h1>
  <form class="auth-form">
    <input class="auth-form__formControll" placeholder="Email" />
    <input class="auth-form__formControll" placeholder="Пароль" />
  </form>
  <div class="logIn-buttons">
    <button class="auth-btn">ВХОД</button>
  </div>
</section>
